<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

	<h:head>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />		
            <title>XenxeBot</title>            
            <link href="#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>        
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" />
            <script src="https://use.fontawesome.com/7e46b1ce96.js"></script>
            <script src="#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}/bootstrap/js/bootstrap.min.js"></script>                                                     
            <script src="#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}/js/modalLoading.js"></script>
            <link href="#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet"/>
            <script src="#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
            <!-- Custom CSS -->    		
    </h:head> 
    <h:body>
	<ui:include src="/ui/header.xhtml" />
	<ui:insert name="content"/>
    <ui:include src="/ui/footer.xhtml" />
    </h:body>
</html>
