<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/ui/template.xhtml">	
		<ui:define name="content">	
		<f:event type="preRenderView" listener="#{humanTextTaskBean.preRenderView}" />		
			<div class="container">
			 <div class="row">
                    <div class="col-lg-12">                       	                   
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-file-text-o"></i> Analizar texto
                            </li>
                        </ol>
                    </div>
             </div>		
             <div class="row">
             	<div class="col-lg-12"> 
             		<div class="panel panel-default">
					  <div class="panel-heading">
					     <div class="row">
             				<div class="col-lg-9" align="left">
					    	<h3 class="panel-title">Texto</h3>
					    	</div>					   
             				<div class="col-lg-3" align="right">
					    <span class="label label-primary"> <h:outputText value="#{humanTextTaskBean.workingpost}"></h:outputText> de  <h:outputText value="#{humanTextTaskBean.totalpost}"></h:outputText></span>
					    </div>
					    </div>
					  </div>
					  <div class="panel-body">
					    <h:outputText value="#{humanTextTaskBean.currentPost.originalmessage}"></h:outputText>
					  </div>
					</div>
				 </div>
              </div>  
              <h:form id="save">
			  <br/>
              <br/>
              <br/>              
              <div class="row">               
             	<div class="col-lg-11" align="right">
             		<h:commandLink id="change" styleClass="btn btn-primary btn-sm" action="#{humanTextTaskBean.change}">
             			<i class="fa fa-repeat"></i>         			
             		</h:commandLink>	
             	</div>
             	<div class="col-lg-1" align="right">
             		<h:commandLink id="save" styleClass="btn btn-primary btn-sm" action="#{humanTextTaskBean.save}">
             			<i class="fa fa-cloud"></i>         			
             		</h:commandLink>	
             	</div>
              </div>
              <br/>
              <br/>
              <br/>                                    
              <div class="row">
             	<div class="col-lg-6"> 
             		<h:selectOneMenu styleClass="form-control" value="#{humanTextTaskBean.currentPost.humanSentiment}">
             			<f:selectItems value="#{humanTextTaskBean.sentimentList}" var="s" itemLabel="#{s.name()}" itemValue="#{s.sentiment}"></f:selectItems>	
             		</h:selectOneMenu>
				 </div>
				 <div class="col-lg-6"> 
             		<h:selectOneMenu styleClass="form-control" value="#{humanTextTaskBean.currentPost.humanCategory}">
             			<f:selectItems value="#{humanTextTaskBean.categoriesList}" var="c" itemLabel="#{c.name()}" itemValue="#{c.category}"></f:selectItems>
             		</h:selectOneMenu>
				 </div>
              </div>
              </h:form>
              <br/>
              <br/>
              <br/>
              <h:form id="concepttable">
              <div class="row">
             	<div class="col-lg-12" align="right">             	
             		<h:commandLink id="add" styleClass="btn btn-primary btn-sm" actionListener="#{humanTextTaskBean.beforeAddConcept}">
             			<i class="fa fa-plus-square"></i>	
             			<f:ajax execute="@form" render=":concepttable :conceptmodal" onevent="function(data) { if (data.status === 'success') { 
    																							$('#myModal').modal('show'); } }"/>  
             		</h:commandLink>	             
             	</div>
             </div>
              <div class="row">
             	<div class="col-lg-12">
             		<table class="table table-hover">
             			<thead>
					      <tr>
					        <th>Tipo Concepto</th>
					        <th>Nombre</th>
					        <th>Sentimiento</th>
					        <th></th>
					      </tr>
					    </thead>
					    <tbody>
						    <ui:repeat value="#{humanTextTaskBean.currentPost.conceptsCollection}" var="c">
						      <tr>
						        <td>#{c.conceptType}</td>
						        <td>#{c.name}</td>
						        <td>#{c.humanSentiment}</td>
						        <td align="right">	
						        	<h:commandLink id="edit" styleClass="btn btn-primary btn-sm" actionListener="#{humanTextTaskBean.beforeeditConcept(c.id)}">
				             			<i class="fa fa-pencil-square"></i>	
				             			<f:ajax execute="@form" render=":concepttable :conceptmodal" onevent="function(data) { if (data.status === 'success') { 
    																							$('#myModal').modal('show'); } }"/>  
				             		</h:commandLink>					        
				             		<h:commandLink id="delete" styleClass="btn btn-primary btn-sm" actionListener="#{humanTextTaskBean.deleteConcept(c.id)}">
				             			<i class="fa fa-minus-square"></i>	
				             			<f:ajax execute="@form" render=":concepttable"/>  
				             		</h:commandLink>
			             		</td>
						      </tr>
						    </ui:repeat>
					    </tbody>
					</table>
             	</div>
             </div> 
             </h:form>              
            </div>
            <!-- Modal -->                     
            <h:form id="conceptmodal">
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Adicionar Concepto</h4>
			      </div>
			      <div class="modal-body">
			      
			       		<div class="row">
             				<div class="col-lg-12">
             					<h:selectOneMenu styleClass="form-control" value="#{humanTextTaskBean.currentConcept.conceptType}">
             						<f:selectItems value="#{humanTextTaskBean.conceptList}" var="c" itemLabel="#{c.name()}" itemValue="#{c.concept}"></f:selectItems>	
             					</h:selectOneMenu>	
             				</div>
             			</div>
             			<div class="row">
             				<div class="col-lg-12">
             					<h:inputText styleClass="form-control" value="#{humanTextTaskBean.currentConcept.name}"></h:inputText>	
             				</div>
             			</div>
             			<div class="row">
             				<div class="col-lg-12">
             					<h:selectOneMenu styleClass="form-control" value="#{humanTextTaskBean.currentConcept.humanSentiment}">
             						<f:selectItems value="#{humanTextTaskBean.sentimentList}" var="s" itemLabel="#{s.name()}" itemValue="#{s.sentiment}"></f:selectItems>	
             					</h:selectOneMenu>	
             				</div>
             			</div>
             		
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cerrar</button>
			        <h:commandLink styleClass="btn btn-primary btn-sm" actionListener="#{humanTextTaskBean.saveConcept}" onclick="$('#myModal').modal('hide');">
             			<i class="fa fa-cloud-upload"></i>	
             			<f:ajax execute="@form" render=":concepttable"/>             			
             		</h:commandLink>
			      </div>			      
			    </div>
			  </div>
			</div>
			</h:form>				
		</ui:define>		
	</ui:composition>
</html>

