<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/ui/template.xhtml">	
		<ui:define name="content">
			<f:event type="preRenderView" listener="#{selectWorkerBean.preRenderView}" />
			<div class="container">
			 <div class="row">
                    <div class="col-lg-12">                       	                   
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-user"></i> Seleccione su usuario
                            </li>
                        </ol>
                    </div>
             </div>		
             <div class="row">
                    <div class="col-lg-12"> 
                    <div class="panel panel-default">
					  <div class="panel-body">
					  	 <h:form id="selectworker">
					        <h:selectOneMenu styleClass="form-control" value="#{selectWorkerBean.selectworker}">
									<f:selectItems value="#{selectWorkerBean.workerList}" var="w" itemLabel="#{w.name}" itemValue="#{w.id}"></f:selectItems>									
							</h:selectOneMenu>
							<br />							
							<h:commandButton styleClass="btn btn btn-primary btn-sm" id="saveButton" value="Ingresar" type="submit" action="#{selectWorkerBean.getWorkerPakage}">								 	
							</h:commandButton>
						</h:form>  	
					  </div>
					</div>			
              	</div>
              </div>                          
            </div>			
		</ui:define>		
	</ui:composition>
</html>

