<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/ui/template.xhtml">	
		<ui:define name="content">			
			<div class="container">
			 <div class="row">
                    <div class="col-lg-12">                       	                   
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-tasks"></i> Seleccione un paquete de trabajo
                            </li>
                        </ol>
                    </div>
             </div>
             <h:panelGroup rendered="#{packageListBean.error eq true}">
             <div class="row">
                    <div class="col-lg-12">  
									<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <h:outputText value="#{packageListBean.errorMessage}"></h:outputText>
					</div>	
			</div>
			</div>
			</h:panelGroup>
             <div class="row">             		
             		<ui:repeat value="#{packageListBean.packageList}" var="p">
                    <div class="col-lg-4"> 
                    <div class="panel panel-#{p.state eq 'PROCCESS' ? 'primary' : ''}#{p.state eq 'AVAILABLE' ? 'warning' : ''}#{p.state eq 'FINISHED' ? 'success' : ''}">
                        <div class="panel-heading">
                            <div class="row">
                               #{p.name}
                            </div>
                        </div>      
                            <div class="panel-footer">
                            <h:form>
                               <div class="row">
                               		<div class="col-lg-6"> 		                            	                               			
									</div>
                               		<div class="col-lg-2" align="left"> 		                            	
                               			<h:commandButton value="Abrir" type="submit" action="#{packageListBean.openpackage(p.id)}" styleClass="btn btn-primary btn-sm" rendered="#{p.state eq 'PROCCESS'}">								 	
										</h:commandButton>
									</div>
								    <div class="col-lg-2" align="left"> 	
										<h:commandButton value="Seleccionar" type="submit" action="#{packageListBean.selectpackage(p.id)}" styleClass="btn btn-primary btn-sm" rendered="#{p.state eq 'AVAILABLE'}">	 	
										</h:commandButton>
									</div>
							   </div>
                            </h:form>
                            </div>
                    </div>			
              		</div>
              		</ui:repeat>
              </div>                          
            </div>
		</ui:define>		
	</ui:composition>
</html>

