<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
       function init() {
                google.load("visualization", "1.1", { packages:["corechart"], callback: 'drawChart' });
       }

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Sentimiento', 'Porcentaje'],
          ['Positivo', $positivo],
          ['Negativo', $negativo],
          ['Neutro',  $neutral],
        ]);

       var options = {
           width: 600,
           height: 250,           
           colors: ['#00FFFF', '#152E51', '#0A92EF'],
           fontName: 'Myriad Pro Light SemiExt',
           legend: {position: 'labeled'},
           pieSliceText : 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body onload="init()">
    <div id="chart"></div>
  </body>
</html>