body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.btn.btn-facebook {
    color: #ffffff;
    background-color: rgb(10, 146, 239);
    border-color: rgb(10, 146, 239);
}

.btn.btn-google {
    color: #ffffff;
    background-color: rgb(20, 101, 168);
    border-color: rgb(20, 101, 168);
}

.btn.btn-register {
    color: #ffffff;
    background-color: rgb(21, 46, 81);
    border-color: rgb(21, 46, 81);
}