body{margin:0;padding:0;font-family:sans-serif}.btn.btn-facebook{color:#fff;background-color:#0a92ef;border-color:#0a92ef}.btn.btn-google{color:#fff;background-color:#1465a8;border-color:#1465a8}.btn.btn-register{color:#fff;background-color:#152e51;border-color:#152e51}
/*# sourceMappingURL=main.9a2507c0.chunk.css.map */